#contact p{
  font-size: 1.2rem;
}

.contact, .mail{
    color: $rooibos;
}

.story-image{
  height: 300px;
  width: 200px;
}

.story{
  margin-top: 60px;
  font-size: 1.1rem;
}

.phrase{
  font-size: 1.2rem;
}
