// Styling for the masthead

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - #{$navbar-height});
    // replace the masthead.jpg image in the /assets/img directory to change the image
    // if the image name change, make sure to update the url path below!
    background: linear-gradient(
            to bottom,
            #{fade-out($brown, 0.2)} 0%,
            #{fade-out($brown, 0.2)} 100%
        ),
        url("../assets/img/bg-masthead2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    h1 {
        color: $rooibos;
        font-size: 2.5rem;
    }
    h2{
        color: $biscuit;
        font-size: 1.7rem;
    }
    .search-input{
        border-color: transparent;
        opacity: 0.8;
    }
    @include media-breakpoint-up(lg) {
        height: 100vh;
        min-height: 40rem;
        padding-top: $navbar-height;
        padding-bottom: 0;
        p {
            font-size: 1.15rem;
        }
        h1 {
            color: $caramel;
            font-size: 2.5rem;
        }
    }
    @include media-breakpoint-up(xl) {
        h1 {
            color: $caramel;
            font-size: 3rem;
        }
    }
}
