#mainNav, .presentation, #product-search{
  grid-area: header;
}

#about, #errors, .main {
  grid-area: main;
}

#account{
  display: flex;
  align-self: center;
  width: 100%;
  justify-content: center;
}

#account img{
  width: 150px;
  height: 150px;
  margin-right: 100px;
}

.user-img {
	width: 150px;
	height: 150px;
}

#contact{
  grid-area: contact;
}

#signup{
  color: $caramel;
  padding-top: 8rem;
  padding-bottom: 2rem;
  background: linear-gradient(
                  to bottom,
                  #{fade-out($brown, 0.2)} 0%,
                  #{fade-out($brown, 0.2)} 100%
  ) url("../assets/img/bg-masthead2.jpg") no-repeat scroll center;
  background-size: cover;
}

.height-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

.footer{
  grid-area: footer;
  height: 50px;
}

.bg-user-name{
  padding-top: 10rem;
  background: linear-gradient(
                  to bottom,
                  rgba(92,77,66,.8) 0,
                  rgba(92,77,66,.8) 100%),
  url("../assets/img/bg-masthead2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.bg-user-name h2{
  font-size: 3rem;
}

.nutri-grade{
  width: 400px;
  height: 400px;
}

.card-img{
  height: 300px;
  width: 300px;
}

.product_name{
  font-size: 1.2rem;
  color: #000000;
  margin: 20px auto;
}

.pagination{
  margin: 50px auto 40px;
}

.nutri-grade{
  font-size: 1.3rem;
}

.pagination a{
  color: #000000;
  margin-left: 10px;
}

//results' page design
.bg-product-search {
  padding-top: 10rem;
  background: linear-gradient(
                  to bottom,
                  rgba(92, 77, 66, .8) 0,
                  rgba(92, 77, 66, .8) 100%) url("../assets/img/bg-masthead2.jpg") no-repeat;
  background-position-x: 35%;
  background-position-y: 50%;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px auto 20px;

  a:first-child{
    margin-right: 50px;
  }

  a{
    color: white;
  }
}

//.button a{
//  color: white;
//}


.product-image{
  width: 500px;
  height: 500px;
}

.signup{
  height: 100%;
  margin-bottom: 50px;
}

.account{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.account-infos{
  display: flex;
  width: 80%;
  font-size: 2rem;
}


.reset-confirm{
  margin-top: 100px;
}

.reset-confirm form, .password-change form{
  justify-content: center;
  line-height: 1.5rem;
  font-weight: bold;
  color: $caramel;
  font-size: 1.2rem;
}

.reset-confirm form label, .password-change form label{
  margin: 20px auto;
}

.reset-confirm form input{
  margin-bottom: 30px;
}

.change-done{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.change-done .btn{
  color: white;
  margin-top: 100px;
  width: 200px;
}



@mixin arrow($color) {
  width: 12px;
  height: 12px;
  border: none;
  background: none;
  position: relative;
  display: inline-block;
  // Scales well with transform too!
  // transform: scale(2.5);
  &::before {
    top: 2px;
    right: 6px;
    width: 8px;
    height: 8px;
    content: '';
    position: absolute;
    transform: rotate(-45deg);
    box-shadow: 2px 2px 0 $color, 3px 2px 0 $color, 2px 3px 0 $color, 3px 3px 0 $color;
  }
  &::after {
    width: 0;
    height: 0;
    left: -1px;
    bottom: 50%;
    content: '•';
    color: $color;
    line-height: 0;
    font-size: 14px;
    position: absolute;
    transition: left .1s ease-out, bottom .1s ease-out, letter-spacing .1s ease-out;
  }

  &.-long {
    width: 22px;
    &::after {
      left: 0;
      content: '•••';
      text-align: right;
    }
  }

  &:hover,
  &:focus {
    outline: none;
    &::after {
      left: 1px;
    }
    &.-long::after {
      left: -.19em;
      letter-spacing: .1em;
    }
  }
}

.arrow {
  @include arrow($biscuit)
}

// Just for the demo

.new-arrow {
  width: 200px;
  padding: 25px;
  display: flex;
  margin: 0 auto 25px;
  justify-content: center;
  &:first-of-type {
    margin-bottom: 0;
  }
}

.arrow {
  &.-huge {
    transform: scale(5);
  }
  &.-roobios {
    @include arrow($caramel);
  }
}
