{% extends '_base.html' %}

{% block content %}
    <header id="reset" class="presentation bg-user-name bg-primary mb-5 mt-0">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-center text-center">
            <h2 class="text-white font-weight-bold mb-5">Le mot de passe a bien été réinitialisé</h2>
          </div>
        </div>
    </header>
    <section id="reset-complete" class="flex-grow-1">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="reset-complete justify-content-center align-items-center">
                    <h3>Vous pouvez maintenant vous connecter</h3>
                    <a href="{% url 'login' %}" class="btn btn-secondary" >Se connecter </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}