{% extends "_base.html" %}
{% load static %}



{% block content %}
    {% load crispy_forms_tags %}
    <header class="masthead flex-grow-1">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10">
                    <h4 class="text-white">Reset your password</h4>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">
                        {{ form|crispy }}
                        <button class="btn btn-secondary btn-block" type="submit">Reset</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
    {% include 'footer.html' %}
{% endblock content %}































