{% extends "_base.html" %}
{% load static %}


{% block content %}
    <header id="reset" class="presentation bg-user-name bg-primary mb-5 mt-0">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-center text-center">
            <h2 class="text-white font-weight-bold mb-5">Réinitialisation du mot de passe </h2>
          </div>
        </div>
    </header>
    <section id="reset-done" class="flex-grow-1">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <h2>Verifier votre adresse mail</h2>
            </div>
        </div>
    </section>
{% endblock %}