{% extends "_base.html" %}
{% load static %}


{% block content %}
    <header id="reset" class="presentation bg-user-name bg-primary mb-5 mt-0">
        <div class="container-fluid">
        </div>
    </header>
    <section id="change-done" class="flex-grow-1">
        <div class="container">
            <div class="change-done row align-items-center justify-content-center">
                <h2>Modification du mot de passe effectuée</h2>
                <a href="{% url 'home' %}" class="btn btn-secondary"> Accueil </a>
            </div>
        </div>
    </section>
    {% include "footer.html" %}
{% endblock %}