{% extends '_base.html' %}

{% block content %}
    {% load crispy_forms_tags %}
    <header id="reset" class="presentation bg-user-name bg-primary mb-5 mt-0">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-center text-center">
            <h2 class="text-white font-weight-bold mb-5">Réinitialiser le mot de passe </h2>
          </div>
        </div>
    </header>
    <section id="reset-confirm" class="flex-grow-1 align-items-center">
        <div class="container">
            <div class="reset-confirm row align-items-center justify-content-center text-center">
                <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-secondary reset" type="submit">Change password</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}