{% extends '_base.html' %}
{% load static %}


{% block content %}
{% load crispy_forms_tags %}
    <header id="reset" class="presentation bg-user-name bg-primary mb-5 mt-0">
        <div class="container-fluid">
        <div class="row align-items-center justify-content-center text-center">
            <h2 class="text-white font-weight-bold mb-5">Modification du mot de passe </h2>
        </div>
        </div>
    </header>
    <section id="password-change" class="flex-grow-1">
        <div class="container">
            <div class="password-change row justify-content-center align-items-center text-center">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-secondary mt-3" type="submit">Modifier</button>
                </form>
            </div>
        </div>
    </section>
    {%include 'footer.html' %}
{% endblock %}