{% extends "_base.html" %}

{% block content %}
    {% include "_base_title.html" with title=username %}

    <section id="account" class="flex-grow-1">
        <div class="account">
            <div class="account-infos row align-items-center justify-content-center py-3">
                {% if user.user_image %}
                <img class="user-img" src="{{ user.user_image.url }}" alt="user profile">
                <div class="infos">
                    <h2>{{ user.first_name}} {{user.last_name}}</h2>
                    <h3>{{ user.email }}</h3>
                    <p>{{ user.birthday }}</p>
                </div>
                {% else %}
                <div class="infos">
                    <h2>{{ user.first_name}} {{user.last_name}}</h2>
                    <h3>{{ user.email }}</h3>
                    <p>{{ user.birthday }}</p>
                </div>
                {% endif %}
            </div>
            <div class="button">
                <a href="{% url 'password_change' %}" class="btn btn-secondary"> Changer de mot de passe</a>
                <a href="{% url 'edit_profile' %}" class="btn btn-secondary"> Modifier le profil</a>
            </div>
        </div>
    </section>
    {% include 'footer.html' %}
{% endblock %}
