{% extends "_base.html" %}

{% block content %}

    {% include "_base_title.html" with title=fullname %}
    {% load crispy_forms_tags %}
        <section id="edit-profile" class="flex-grow-1">
            <div class="container">
                <div class="edit-profile row align-items-center justify-content-center py-3">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-secondary" type="submit">Modifier</button>
                    </form>
                </div>

            </div>
        </section>
    {% include 'footer.html' %}
{% endblock %}