{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %} Sign Up {% endblock title %}

{% block content %}
        <section id="signup" class="flex-grow-1">
            <div class="container">
                <div class="row align-items-center justify-content-center text-center">
                    <div class="col-lg-10">
                        <h1 class="mt-5 mb-4"> Création nouveau compte </h1>
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-8">
                        <form method="POST" class="h4 text-secondary font-weight-bold" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button class="btn btn-primary mt-4" type="submit">Créer</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
     {% include 'footer.html' %}
{% endblock content %}